@import 'variables';

form {
  position: relative;
  height: calc(100vh - 187px);
}

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background-color: $second-bg-color;
  }
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

.field {
  margin-top: 16px;
}

.actions {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 100%;
}